<div class="login-container">
    <h2>Create User</h2>
    <form (ngSubmit)="postUser()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="credentials.name" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="credentials.password" required>
      </div>
      <button type="submit">Create</button>
    </form>
    <button (click)="back()">Back</button>
  </div>
  