<div class="chat-container">
    <div *ngFor="let message of this.messages" class="message">
        <div class="user">{{message}}</div>
    </div>

    <!-- Add more messages as needed -->

    <div class="input-container">
        <input type="text" placeholder="Type your message..." #message>
        <button (click)="sendMessage(message)">Send</button>
    </div>

    <button class="back-button" (click)="redirect()">Back</button>
</div>

