<div class="login-container">
    <h2>Login</h2> 

    <div *ngIf="invalidLogin && loginTry" class="invalid-login">
      Invalid username or password
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" [(ngModel)]="credentials.name">
        </div>
      
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="credentials.password">
        </div>
      
        <button class="button" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </form>
</div>